@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
        
        body{
            font-family: 'Poppins', sans-serif;
            background-image: linear-gradient(45deg, #82868f, #023756);
        }
        fieldset label{
            display: block;
        }
        fieldset input{
            display: block;
        }
        .formulario{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        fieldset{
            width: 350px;
            height: 350px;
            padding: 50px;
            background-color: white;
            border: 1px solid rgb(181, 176, 176);
        }
        h2{
            text-align: center;
            font-size: 1.5rem;

        }
        .login__face{
            display: flex;
            justify-content: space-between;
            padding: 0 15%;
            margin-top: 30px;
        }
        .login__face button{
            width: 120px;
            height: 35px;
            color: white;
            font-family: 'Poppins', sans-serif;
            border: 1px solid lightgray;

        }
        .input{
            width: 100%;
            background-color: rgb(240, 236, 236);
            height: 40px;
            border: 1px solid rgb(162, 162, 162);
            border-radius: 10px;
            outline: none;
            font-size: large;
            font-family: 'Poppins', sans-serif;
        }
        .input:hover{
            background-color: rgb(218, 215, 215);
            transition: .5s;

        }
        .input:focus{
            background-color: rgb(184, 181, 181);
            transition: .5s;
            border: 1px solid rgb(95, 95, 95);
        }
        .label{
            margin-top: 20px;
        }
        .botao__login button{
            width: 100%;
            height: 50px;
            margin-top: 18px;
            background-color: #313131;
            color: white;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            border-radius: 10px;
            border: 1px solid #18181882;
            cursor: pointer;
        }
        .botao__login button:hover {
            background-color: #1d1d1d;
            transition: .5s;
        }
        #facebook{
            background-color: #3563A1;
            text-align: right;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;

        }
        #facebook:hover{
            background-color: #244570;
            transition: .4s;

        }
        #google{
            color: black;
            text-align: right;
            border-radius: 7px;
            text-align: center;
            background-color: white;
            cursor: pointer;

        }
        #google:hover{
            background-color: rgb(226, 226, 226);
            transition: .4s;

        }
        .img{
            width: 14%;
            margin: 0%;
        }

        @media screen and (max-width:606px) {
            fieldset{
                width: 60vw;
                height: 60vw;
                padding: 8vw;
            }
            .login__face button{
                width: 20vw;
                height: 30px;}
            .input{
                height: 7vw;
            }
            .label{
                margin-top: 3vw;
            }
            .botao__login button{
                height: 9vw;
            }
            html{
                font-size: 14px;
            }
            .login__face{
                margin-top: 5vw;
            }
        }
        @media screen and (max-width:518px){
            body{
                background-position: 100% 1%;
            }
        }
        @media screen and (max-width:511px){
            fieldset{
                height: 90vw;
            }   
            fieldset input{
                margin-bottom: 10vw;
            }
            html{
                font-size: 17px;
            }
        }
        
        
        @media screen and (max-width:449px){
            .login__face button{
                font-size: 10px;
            }
        
        
        }
        @media screen and (max-width:397px){
            fieldset input{
                margin-bottom: 7vw;
            }
        }
        @media screen and (max-width:349px){
            .login__face button{
                font-size: 8px;
            }
            h2{
                font-size: 1.2rem;
            }
        }
        @media screen and (max-width:272px){
            .login__face button{
                font-size: 7px;
            }
            fieldset input{
                margin-bottom: 5vw;
            }
        
        }


